.players-container {
  border-bottom: 2px #000000d4 solid;
}

::ng-deep .info-icon {
  cursor: pointer;
}

::ng-deep .movements .table th {
  padding: .5rem 0 !important;
}

::ng-deep .movements .table>:not(caption)>*>* {
  padding: 0.1rem !important;
}

::ng-deep .movements td img {
  height: 65px;
  width: 65px;
}

::ng-deep .movements th, td {
  text-align: center;
  vertical-align: middle;
}

::ng-deep .players-container {
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #1b1b1b6c transparent;
  scrollbar-width: thin;
}

::ng-deep .table-custom tr:last-child td {
  border-bottom: 1px rgb(52,117,22) solid;
}

::ng-deep app-player-stats-card.fullscreen {
  background: white;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

::ng-deep th, ::ng-deep tr {
  text-align: center;
}

div[after] {
  font-size: 1.5rem;
  position: absolute;
  right: 5px;
  top: 5px;
}

.afternoon {
  background-color: #4caf4f52;
}

.alliance-stats-container {
  max-height: calc(100vh - 55px);
  overflow-y: auto;
}

.alliance-stats-container::after {
  animation: fadeInUp 0.5s ease forwards;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fffbe6;
  bottom: 20px;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
}

.alliance-stats-container::before {
  animation: gradient 2s 1 ease;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: linear-gradient(rgb(255 137 43 / 0%), rgb(0 0 0)), url(/assets/8wwypaix4da0lxjeozb0dkzr135u5zy4khoqm2lmhh25grfe96mzr07jatchq7gpicb7.png);
  border-bottom: 2px black solid;
  bottom: 0;
  box-shadow: 0 2px 1px #ff9100;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.alliances-stats-content {
  background-size: 30px;
  background-image: url(/assets/light-background-hover.png);
  background-color: #fffbe65e;
  min-height: 100px;
  border-bottom: 1px white solid;
  border-left: 1px white solid;
  border-right: 1px #ffffff solid;
  margin-bottom: 50px;
}

.alliances-stats-content .subtitle {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  position: relative;
  text-align: center;
  z-index: 1;
}

.bg-custom {
  background: linear-gradient(rgb(0 0 0 / 68%), rgb(0 0 0 / 68%)), url(/assets/sand-banner.png), #ebd1b9;
}

.bg-custom-font {
  background: #5b4b1b61;
  border: 1px #534120 solid;
  color: #cdcdcd;
  position: relative;
  z-index: 1;
}

.cardIcon {
  height: 50px;
  width: 50px;
}

.chart-legend {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-bottom: 10px;
}

.evening {
  background-color: #f4433652;
}

.event-details {
  font-size: 0.85rem;
}

.event-icon {
  font-size: 1.2rem;
  height: 40px;
  line-height: 38px;
  width: 40px;
}

.event-icon.bg-danger {
  background: #dc3545;
}

.event-icon.bg-success {
  background: #28a745;
}

.flex-auto {
  flex: auto;
}

.legend-color {
  border-radius: 3px;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.legend-item {
  align-items: center;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 14px;
  gap: 5px;
}

.legend-item span:first-child {
  border: 1px solid #00000081;
}

.morning {
  background-color: #ffeb3b52;
}

.nav-item {
  display: flex;
}

.nav-link {
  --bs-nav-link-color: #000;
}

.nav-tabs {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.nav-tabs .nav-link:not(.active):focus, .nav-tabs .nav-link:not(.active):hover {
  background: #ffffff38 !important;
  color: #363636 !important;
}

.next-graph {
  right: 0;
}

.next-graph span, .previous-graph span {
  cursor: pointer;
  display: block;
}

.next-graph span:hover, .previous-graph span:hover {
  transform: scale(1.2);
}

.next-graph, .previous-graph {
  align-content: center;
  bottom: 0;
  color: #ffffff;
  font-size: 2rem;
  margin: 0 10px;
  position: absolute;
  top: 0;
  transition: all .1s;
}

.night {
  background-color: #2196f352;
}

.player-icon {
  height: 24px;
  width: 24px;
}

.pointer {
  cursor: pointer;
}

.previous-graph {
  left: 0;
}

.stat-card {
  animation: fadeInUp 0.5s ease forwards;
  opacity: 0;
  transform: translateY(30px);
  transition: all .3s ease;
}

.stat-card .change {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.stat-card .change.negative {
  color: #dc3545;
}

.stat-card .change.positive {
  color: #28a745;
}

.stat-card .icon {
  height: 50px;
  margin-bottom: 0.5rem;
  width: 50px;
}

.stat-card .label {
  color: #555;
  font-size: 0.9rem;
}

.stat-card .stat-card-content img {
  transition: all .2s ease;
}

.stat-card .value {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.stat-card-content {
  --bs-danger-rgb: 119, 25, 25;
  padding: 1rem;
  text-align: center;
  transition: all .3s ease;
  z-index: 1;
}

.stat-card::before {
  background-size: 100% 100%;
  background-image: url(/assets/bg-default.png);
  border-radius: 15px;
  bottom: -10px;
  content: "";
  left: -10px;
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: -6;
}

.stat-card:hover {
  box-shadow: 0 6px 12px rgb(0 0 0 / 35%);
}

.stat-card:hover .stat-card-content {
  transform: translateY(5px);
}

.stat-card:hover .stat-card-content img {
  transform: scale(1.1);
}

.stat-card:nth-child(1) {
  animation-delay: 0.05s;
}

.stat-card:nth-child(10) {
  animation-delay: 0.5s;
}

.stat-card:nth-child(11) {
  animation-delay: 0.55s;
}

.stat-card:nth-child(12) {
  animation-delay: 0.6s;
}

.stat-card:nth-child(13) {
  animation-delay: 0.65s;
}

.stat-card:nth-child(14) {
  animation-delay: 0.7s;
}

.stat-card:nth-child(15) {
  animation-delay: 0.75s;
}

.stat-card:nth-child(16) {
  animation-delay: 0.8s;
}

.stat-card:nth-child(17) {
  animation-delay: 0.85s;
}

.stat-card:nth-child(18) {
  animation-delay: 0.9s;
}

.stat-card:nth-child(19) {
  animation-delay: 0.95s;
}

.stat-card:nth-child(2) {
  animation-delay: 0.1s;
}

.stat-card:nth-child(20) {
  animation-delay: 1s;
}

.stat-card:nth-child(3) {
  animation-delay: 0.15s;
}

.stat-card:nth-child(4) {
  animation-delay: 0.2s;
}

.stat-card:nth-child(5) {
  animation-delay: 0.25s;
}

.stat-card:nth-child(6) {
  animation-delay: 0.3s;
}

.stat-card:nth-child(7) {
  animation-delay: 0.35s;
}

.stat-card:nth-child(8) {
  animation-delay: 0.4s;
}

.stat-card:nth-child(9) {
  animation-delay: 0.45s;
}

.stats-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  padding: 1rem;
}

.stats-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
  text-align: center;
}

.text-danger {
  color: #dc3545 !important;
}

.text-success {
  color: #28a745 !important;
}

.text-warning {
  color: #ff9800;
}

.timeline {
  font-size: 0.9rem;
}

.timeline .day-title {
  border-left: 5px solid #cca300;
  font-weight: bold;
  padding-left: 1rem;
}

.timeline-event {
  border-bottom: 1px solid #ddd;
  transition: all 0.1s;
}

.timeline-event:hover i {
  transform: scale(1.1);
}

.timeline-event:last-child {
  border-bottom: none;
}

.timeline-header h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.timeline-section {
  background: #ffffff82;
  border-radius: 10px;
  border: 2px solid #838383;
  padding: 1.5rem;
}

.title {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 20px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.value {
  overflow: hidden;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradient {
  0% {
    margin-top: -30px;
  }

  100% {
    margin-top: 0;
  }
}

@media (max-width: 1400px) {
  .alliance-stats-container {
    max-height: calc(100vh - 85px);
  }
}

@media (max-width: 768px) {
  .event-details {
    flex-direction: column;
    gap: 5px;
  }

  .stats-title {
    font-size: 1.5rem;
  }

  .timeline-event {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media (min-width: 1270px) {
  .alliance-stats-container {
    min-height: calc(100vh - 85px);
  }
}
