<div class="container about-container my-5 pb-0">
  <ng-container *ngTemplateOutlet="apiLink; context: { message: 'API gge-tracker.com' }"></ng-container>
  <div class="text-end mb-2 release-note">
    <a href="/release-notes" class="text-decoration-none" target="_blank">
      <i class="fa-solid fa-file-lines" style="color: #007bff;"></i>
      &nbsp;{{ 'about.release-notes' | translate }}
    </a>
  </div>
  <h1 class="text-center mb-4 mt-3">{{ 'about.title' | translate }}</h1>
  <div class="section">
    <p [innerHTML]="safeTranslatedIntro1"></p>
    <p>{{ 'about.intro-2' | translate }}</p>
    <p>{{ 'about.intro-3' | translate }}</p>
    <p>{{ 'about.intro-4' | translate }}</p>
    <ng-container *ngTemplateOutlet="contact"></ng-container>
  </div>
  <div class="section">
    <p>{{ 'about.host' | translate }}</p>
  </div>
  <div class="contrib-heading mt-5">
    <h1 class="text-center mb-0">{{ 'about.contributors-title' | translate }}</h1>
    @if (contribs.length) {
      <span class="contrib-count">{{ contribs.length }}</span>
    }
  </div>
  <p class="contrib-thanks text-center">
    {{ 'about.contributors-thanks' | translate }}
  </p>
  <ng-container *ngTemplateOutlet="contributors"></ng-container>
  <div class="footer mb-2 text-center">
    <p style="font-size: 0.7rem">&copy; {{ currentYear }} gge-tracker.com</p>
  </div>
</div>

<ng-template #contributors>
  @if (lanes.length) {
    <div class="roll" [class.roll-paused]="rollPaused" (click)="toggleRoll()">
      @for (lane of lanes; track $index) {
        <div class="lane">
          <div
            class="lane-track"
            [class.lane-track-reverse]="$odd"
            [style.animationDuration.s]="lane.duration"
            [style.--lane-copies]="lane.copies.length"
          >
            @for (copy of lane.copies; track copy) {
              @for (contrib of lane.items; track contrib.name) {
                <div class="seal" [attr.aria-hidden]="copy > 0 ? 'true' : null">
                  <span class="seal-medal">
                    <span class="seal-initial">{{ initial(contrib) }}</span>
                    <img class="seal-flag" [src]="flagUrl(contrib.server)" [alt]="contrib.server" loading="lazy" />
                  </span>
                  <span class="seal-text">
                    <span class="seal-name">{{ contrib.name }}</span>
                    <span class="seal-server">{{ contrib.server }}</span>
                  </span>
                </div>
              }
            }
          </div>
        </div>
      }
    </div>
  }
</ng-template>

<ng-template #apiLink let-message="message">
  <div class="text-end mb-2">
    <a href="https://docs.gge-tracker.com" target="_blank" class="text-decoration-none">
      <i class="fa-solid fa-code" style="color: #007bff;"></i>
      &nbsp;{{ message }}
    </a>
  </div>
</ng-template>

<ng-template #heart>
  <span style="color: #ff00009e;">
    <i class="fa-solid fa-heart"></i>
  </span>
</ng-template>

<ng-template #contact>
  <ul class="list-unstyled">
    <li>
      <i class="fa-brands fa-discord" style="color: #7289da;"></i>
      <span style="color: #7289da;">&nbsp;Discord: <a target="_blank" href="https://discord.gg/eb6WSHQqYh" style="color: #7289da;">https://discord.gg/eb6WSHQqYh</a></span>
    </li>
    <li>
      <i class="fa-solid fa-gavel" style="color: #6c757d;"></i>
      <span style="color: #6c757d;">&nbsp;{{ 'about.contact-legal' | translate }} <a href="mailto:contact@gge-tracker.com">contact&#64;gge-tracker.com</a></span>
    </li>
  </ul>
</ng-template>
