:host {
  flex: auto;
}

:host ::ng-deep img {
  height: 29px;
}

.changed {
  box-shadow: inset 0px 0px 5px #0affe5a8;
}

.input-group-text {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 0 12px 12px 0;
  border-radius: 12px 0 0 12px;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.search-input {
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.55rem 2.5rem 0.55rem 1rem;
  transition: 0.3s;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
}

.search-input::placeholder {
  color: #ccc;
}

.search-input:focus {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
  outline: 0;
}

.search-input[type="number"]::-webkit-inner-spin-button,
.search-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  background-color: transparent;
  margin: 0;
}
