<div class="player-stats-view position-relative">
  <div class="d-none d-md-block" *ngIf="!isInLoading">
    <div class="btn-exit right">
      <button class="btn btn-primary mt-3" (click)="addPlayerToFavorites()"
        *ngIf="!isInFavorites(); else notInFavorites">
        <i class="fas fa-star"></i>
        {{ 'Ajouter en favoris' | translate }}</button>
      <ng-template #notInFavorites>
        <button class="btn btn-primary mt-3" (click)="removePlayerFromFavorites()">
          <i class="fas fa-star"></i>
          {{ 'Retirer des favoris' | translate }}</button>
      </ng-template>
    </div>
  </div>
  <ng-container *ngIf="!isInLoading">
    <div class="player-stats-overlay"></div>
    <div class="position-relative player-stats-container">
      <div class="position-relative bg-castle d-flex flex-column justify-content-center"
        [ngClass]="{'d-none': !playerName}">
        <div class="mt-3 mx-auto position-relative" style="width: fit-content;">
          <img src="/assets/banner.png" class="img-fluid" [alt]="'Bannière' | translate">
          <span class="position-absolute top-50 start-50 translate-middle text-white fs-1" style="width: max-content">
            {{ playerName }}</span>
          <div id="allianceList">
            <a href="/castles?search={{ playerName }}" [title]="'Voir les châteaux' | translate">
              <img src="/assets/icon_castles.png" width="50" [alt]="'Paramètres' | translate" class="img-fluid mt-3">
            </a>
            <div class="d-inline-block alliance-more-info position-relative"
              [attr.data-updates]="allianceUpdates!.length-1">
              <img src="/assets/icon_alliance.png" width="50" [title]="'Voir l\'historique des alliances' | translate"
                class="img-fluid mt-3" alt="Alliance" data-bs-toggle="modal" data-bs-target="#allianceModal">
            </div>
            <div *ngIf="playerUpdates && playerUpdates.length > 1"
              class="d-inline-block alliance-more-info position-relative" [attr.data-updates]="playerUpdates!.length-1">
              <img src="/assets/icon_name.png" width="50"
                [title]="'Voir l\'historique des pseudonymes du joueur' | translate" class="img-fluid mt-3"
                [alt]="'Pseudonyme' | translate" data-bs-toggle="modal" data-bs-target="#playerModal">
            </div>
            <div *ngIf="stats && stats.peaceDisabledAt" class="d-inline-block alliance-more-info position-relative"
              [attr.data-updates]="peaceDisabledAtInDays">
              <img src="/assets/icon_peace.png" width="50"
                [title]="('Actuellement en protection Fin le' | translate) + ' ' + (stats.peaceDisabledAt | date: ('Date_1' | translate))"
                class="img-fluid mt-3" [alt]="'Protection' | translate">
            </div>
          </div>
        </div>
        <div class="container-fluid mt-3 leaderboard d-flex flex-wrap justify-content-around text-center">
          <div *ngFor="let event of events" class="card event-card m-2">
            <div *ngIf="getScoreboardFromEvent(event)" class="card-body d-flex flex-column justify-content-between">
              <h5 class="card-title"><img src="/assets/star.png" alt="Top 3"></h5>
              <div class="card-content d-flex align-items-center">
                <div class="img-container me-3">
                  <img [src]="'/assets/event-logo-id-' + event + '.png'" class="img-fluid" alt="Event" width="90"
                    height="90" [title]="getEventName(event)">
                </div>
                <div class="event-details">
                  <p class="card-text">
                    <span class="highlight-hours">{{ getScoreboardFromEvent(event) }}h</span>
                    &nbsp;{{ 'dans le top 3 du serveur' | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid mt-3" style="margin-bottom: 70px;" *ngIf="playerId && isBrowser">
        <div class="row g-3 mb-3 mt-1">
          <div class="col-12 col-md">
            <div class="stat-card text-center">
              <div class="stat-icon">
                <img src="/assets/pp3.png" [alt]="'Points de puissance' | translate">
              </div>
              <div class="stat-title" *ngIf="stats">{{ 'Puissance' | translate }}</div>
              <div class="stat-value" *ngIf="stats; else spinnerRankignStats">{{ (animatedStats['mightCurrent'] || 0) |
                formatNumber }}</div>
            </div>
          </div>
          <div class="col-12 col-md">
            <div class="stat-card text-center">
              <div class="stat-icon">
                <img src="/assets/honor2.png" [alt]="'Honneur' | translate">
              </div>
              <div class="stat-title" *ngIf="stats">{{ 'Honneur' | translate }}</div>
              <div class="stat-value" *ngIf="stats; else spinnerRankignStats">{{ animatedStats['honor'] }}</div>
            </div>
          </div>
          <div class="col-12 col-md">
            <div class="stat-card text-center">
              <div class="stat-icon">
                <img src="/assets/ranking.png" [alt]="'Classement' | translate">
              </div>
              <div class="stat-title" *ngIf="stats">{{ 'Classement' | translate }} ({{ stats.server }})</div>
              <div class="stat-value" *ngIf="stats; else spinnerRankignStats">{{ (animatedStats['serverRank'] || 0) |
                formatNumber }}</div>
            </div>
          </div>
          <div class="col-12 col-md">
            <div class="stat-card text-center">
              <div class="stat-icon">
                <img src="/assets/ranking.png" [alt]="'Classement mondial' | translate">
              </div>
              <div class="stat-title" *ngIf="stats">{{ 'Classement mondial' | translate }}</div>
              <div class="stat-value" *ngIf="stats; else spinnerRankignStats">{{ (animatedStats['globalRank'] || 0) |
                formatNumber }}</div>
            </div>
          </div>
          <div class="col-12 col-md">
            <div class="stat-card text-center">
              <div class="stat-icon">
                <img src="/assets/lvl.png" [alt]="'Niveau' | translate">
              </div>
              <div class="stat-title" *ngIf="stats">{{ 'Niveau' | translate }}</div>
              <div class="stat-value" *ngIf="stats; else spinnerRankignStats">{{ (animatedStats['totalLevel'] || 0) |
                level }}</div>
            </div>
          </div>
          <div class="col-12 col-md">
            <div class="stat-card text-center" data-bs-toggle="modal" data-bs-target="#patriarchModal">
              <div class="stat-icon">
                <img src="/assets/list-item.png" [alt]="'Nombre de chateaux' | translate">
              </div>
              <div class="stat-title" *ngIf="stats">{{ 'Nombre de chateaux' | translate }}</div>
              <div class="stat-value" *ngIf="stats; else spinnerRankignStats">{{ (animatedStats['totalCastles'] || 0) |
                formatNumber }}</div>
            </div>
          </div>
        </div>

        <div class="tabs-container">
          <button class="tab-button" *ngFor="let tab of tabs" (click)="currentTab = tab.key"
            [ngClass]="{'active': currentTab === tab.key}">
            <img *ngIf="tab.assetIcon" [src]="'/assets/' + tab.assetIcon" width="24" height="24"
              [alt]="tab.label | translate">
            <span class="d-none d-lg-inline">&nbsp;{{ tab.label | translate }}</span>
          </button>
        </div>

        <div class="tab-content" *ngIf="currentTab === 'overview'">
          <div class="row">
            <div class="col-12 col-lg-6 mb-2">
              <app-player-stats-card [charts]="{ 'Graphique': charts['might'] }" *ngIf="charts['might']" [data]="[]"
                [title]="'Points de puissance' | translate" [dataName]="'Points de puissance' | translate"
                [backgroundIconImage]="'/assets/banner-pp.png'" [needSpecialLoader]="true"
                [eventName]="'player_might_history'" [isWeekly]="true" [playerId]="playerId"
                (updateData)="updateData($event)" [backgroundColour]="'rgb(255 230 35)'"></app-player-stats-card>
            </div>
            <div class="col-12 col-lg-6 mb-2">
              <app-player-stats-card [charts]="{ 'Graphique': charts['loot'] }" *ngIf="charts['loot']" [data]="[]"
                [title]="'Pillage hebdomadaire' | translate" [dataName]="'Points de pillage' | translate"
                [playerId]="playerId" [eventName]="'player_loot_history'" (updateData)="updateData($event)"
                [backgroundIconImage]="'/assets/banner-loot.png'"
                [backgroundColour]="'#e7a220'"></app-player-stats-card>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-lg-6 mb-2">
              <app-player-stats-card [charts]="{ 'Graphique': charts['warRealms'] }" *ngIf="charts['warRealms']"
                [data]="[]" [title]="'Guerre des royaumes' | translate" [playerId]="playerId"
                [eventName]="'player_event_war_realms_history'" (updateData)="updateData($event)"
                [dataName]="'Points de guerre des royaumes' | translate"
                [backgroundIconImage]="'/assets/banner-realm.png'"
                [backgroundColour]="'rgb(216 182 255)'"></app-player-stats-card>
            </div>
            <div class="col-12 col-lg-6 mb-2">
              <app-player-stats-card [charts]="{ 'Graphique': charts['bloodcrow'] }" *ngIf="charts['bloodcrow']"
                [data]="[]" [title]="'Corbeaux de sang' | translate" [playerId]="playerId"
                [eventName]="'player_event_bloodcrow_history'" (updateData)="updateData($event)"
                [dataName]="'Points de corbeaux de sang' | translate"
                [backgroundIconImage]="'/assets/banner-bloodcrow.png'"
                [backgroundColour]="'rgb(216 182 255)'"></app-player-stats-card>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-lg-6 mb-2">
              <app-player-stats-card [charts]="{ 'Graphique': charts['berimondKingdom'] }"
                *ngIf="charts['berimondKingdom']" [data]="[]" [title]="'Bataille de Berimond' | translate"
                [playerId]="playerId" [eventName]="'player_event_berimond_kingdom_history'"
                (updateData)="updateData($event)" [dataName]="'Points de Berimond' | translate"
                [backgroundIconImage]="'/assets/banner-berimond.png'"
                [backgroundColour]="'#00aaff'"></app-player-stats-card>
            </div>
            <div class="col-12 col-lg-6 mb-2">
              <app-player-stats-card #nomadChart [charts]="{ 'Graphique': charts['nomad'] }" *ngIf="charts['nomad']"
                [data]="[]" [title]="'Nomades' | translate" [dataName]="'Points de nomades' | translate"
                [playerId]="playerId" [eventName]="'player_event_nomad_history'" (updateData)="updateData($event)"
                [backgroundIconImage]="'/assets/banner-nomad.png'"
                [backgroundColour]="'rgb(255 130 54)'"></app-player-stats-card>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-lg-6 mb-2">
              <app-player-stats-card #samuraiChart [charts]="{ 'Graphique': charts['samurai'] }"
                *ngIf="charts['samurai']" [data]="[]" [title]="'Samouraïs' | translate"
                [dataName]="'Points de samouraïs' | translate" [playerId]="playerId"
                [eventName]="'player_event_samurai_history'" (updateData)="updateData($event)"
                [backgroundIconImage]="'/assets/banner-samurai.png'"
                [backgroundColour]="'#58771db5'"></app-player-stats-card>
            </div>
          </div>
        </div>

        <div class="tab-content" *ngIf="currentTab === 'loot'">
          <div class="row">
            <div class="col-12">
              <app-player-stats-card [charts]="{ 'Graphique': charts['hourly-activity'] }"
                *ngIf="charts['hourly-activity']" [data]="[]" [title]="'Taux d\'activité par heure' | translate"
                [subtitle]="'Semaine précédente' | translate" [dataName]="'Taux d\'activité par heure' | translate"
                [playerId]="playerId" [eventName]="'player_loot_history'" (updateData)="updateData($event)"
                [backgroundIconImage]="'/assets/banner-loot.png'"
                [backgroundColour]="'#e7a220'"></app-player-stats-card>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <app-player-stats-card [charts]="{ 'Graphique': charts['avg-gain-hour'] }" *ngIf="charts['avg-gain-hour']"
                [data]="[]" [title]="'Gain moyen par heure' | translate" [subtitle]="'Semaine précédente' | translate"
                [dataName]="'Gain moyen par heure' | translate" [playerId]="playerId"
                [eventName]="'player_loot_history'" (updateData)="updateData($event)"
                [backgroundIconImage]="'/assets/banner-loot.png'"
                [backgroundColour]="'#e7a220'"></app-player-stats-card>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <app-player-stats-card [charts]="{ 'Graphique': charts['loot-heatmap'] }" *ngIf="charts['loot-heatmap']"
                [data]="[]" [title]="'Carte d\'activité hebdomadaire' | translate"
                [dataName]="'Carte d\'activité hebdomadaire' | translate" [playerId]="playerId"
                [eventName]="'player_loot_history'" (updateData)="updateData($event)"
                [backgroundIconImage]="'/assets/banner-loot.png'"
                [backgroundColour]="'#e7a220'"></app-player-stats-card>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <app-player-stats-card [charts]="{ 'Graphique': charts['loot'] }" *ngIf="charts['loot']" [data]="[]"
                [title]="'Pillage hebdomadaire' | translate" [dataName]="'Points de pillage' | translate"
                [playerId]="playerId" [eventName]="'player_loot_history'" (updateData)="updateData($event)"
                [backgroundIconImage]="'/assets/banner-loot.png'"
                [backgroundColour]="'#e7a220'"></app-player-stats-card>
            </div>
          </div>
        </div>

        <div class="tab-content" *ngIf="currentTab === 'alliances'">
          <div class="row">
            <div class="col-12 alliances-history-section">
              <ng-container *ngTemplateOutlet="allianceHistoryContent"></ng-container>
            </div>
          </div>
        </div>

        <div class="tab-content" *ngIf="currentTab === 'castles'">
          <div class="row mt-3">
            <div class="col-12 castles-overview-section">
              <ng-container *ngTemplateOutlet="patriarchOverviewContent"></ng-container>
            </div>
          </div>
        </div>

        <div class="tab-content" *ngIf="currentTab === 'glory' && currentPlayerTitle">
          <div class="fame-dashboard">
  <div class="dashboard-header-glass mb-4 p-1">
    <div class="row g-0 align-items-stretch">

      <div class="col-lg-8 border-end-glass">
        <div class="p-4 h-100 position-relative overflow-hidden">
          <div class="d-flex align-items-start justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <div class="fame-avatar-aura me-3">
                <img src="/assets/glory.png" alt="Glory" class="fame-icon">
                <div class="aura-spinner"></div>
              </div>
              <div>
                <h1 class="h4 mb-1 fw-black text-white text-uppercase ls-2">
                  {{ (currentTopXFameTitle ? (currentI18nTitleKey + currentTopXFameTitle.titleID) : (currentI18nTitleKey + currentPlayerTitle.titleID)) | translate }}
                </h1>
                <div class="status-indicator-row">
                  <span class="status-pill-minimal me-3">
                    <app-icon name="Clock" class="me-1 d-inline-block" width="12" height="12"></app-icon>
                    {{ 'Mise à jour' | translate }} {{ stats?.updatedAt | date:'HH:mm' }}
                  </span>
                  <hr>
                  <span class="status-pill-minimal">
                    <app-icon name="Globe" class="me-1 d-inline-block" width="12" height="12"></app-icon>
                    {{ 'Serveur' | translate }} {{ stats?.server }}
                  </span>
                </div>
              </div>
            </div>
            <div class="rank-display">
              <div class="rank-label">{{ 'CLASSEMENT' | translate }}</div>
              <div class="rank-number">#{{ stats?.playerCurrentFameRank ?? 0 | formatNumber }}</div>
            </div>
          </div>

          <div class="fame-meter-container">
            <div class="d-flex justify-content-between mb-2">
              <span class="fame-count text-white fw-bold">{{ stats?.currentFame ?? 0 | formatNumber }} <small class="fw-normal opacity-50">Pts</small></span>
              <span class="fame-next-step text-white-50 small">{{ 'Vers titre suivant' | translate }}</span>
            </div>
            <div class="fame-progress-track">
              <div class="fame-progress-fill" [style.width.%]="75"></div> <div class="fame-glow"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="p-4 h-100 bg-white-05">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="h6 mb-0 fw-bold text-white text-uppercase ls-1">
              <app-icon name="TrendingDown" class="me-2 text-danger d-inline-block" width="16" height="16"></app-icon>
              {{ 'Impact Déclin' | translate }}
            </h3>
            <span class="decay-percent">-{{ currentPlayerTitle.decay }}%</span>
          </div>

          <div class="decay-projection-card">
            <div class="label">{{ 'PRÉVISION MINUIT' | translate }}</div>
            <div class="value">{{ ((stats?.currentFame ?? 0) * (100 - (currentPlayerTitle.decay ?? 0))) / 100 | formatNumber }}</div>
            <div class="loss-calc">
              <app-icon name="ArrowDown01" class="me-1" width="12" height="12"></app-icon>
              -{{ ((stats?.currentFame ?? 0) * (currentPlayerTitle.decay ?? 0)) / 100 | formatNumber }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-4">
    <div class="col-12">
      <h3 class="section-title">
        <app-icon name="Trophy" class="me-2 text-warning" width="18" height="18"></app-icon>
        {{ 'Titres de l\'Élite' | translate }}
      </h3>
      <div class="special-titles-row">
        <div *ngFor="let fameTitle of fameTitlesTopX"
             class="special-card-mini"
             [class.attained]="(stats?.playerCurrentFameRank ?? 0) <= (fameTitle.topX ?? -1)">
          <div class="card-inner">
            <span class="title-id">Top {{ fameTitle.topX }}</span>
            <span class="title-name">{{ currentI18nTitleKey + fameTitle.titleID | translate }}</span>
            <div class="attained-check" *ngIf="(stats?.playerCurrentFameRank ?? 0) <= (fameTitle.topX ?? -1)">
              <app-icon name="Zap" width="14" height="14"></app-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <h3 class="section-title">
        <app-icon name="ArrowUpRight" class="me-2 text-success" width="18" height="18"></app-icon>
        {{ 'Paliers de Progression' | translate }}
      </h3>
      <div class="titles-smart-grid">
        <div *ngFor="let fameTitle of fameTitles"
             class="grid-item-fame"
             [ngClass]="{
               'secured': (((stats?.currentFame ?? 0) * (100 - (currentPlayerTitle.decay ?? 0))) / 100) >= (fameTitle.threshold ?? 0),
               'danger': (stats?.currentFame ?? 0) >= (fameTitle.threshold ?? 0) && (((stats?.currentFame ?? 0) * (100 - (currentPlayerTitle.decay ?? 0))) / 100) < (fameTitle.threshold ?? 0),
               'locked': (stats?.currentFame ?? 0) < (fameTitle.threshold ?? -1)
             }">
          <div class="grid-item-inner">
            <div class="threshold-tag">{{ (fameTitle?.threshold ?? -1) | formatNumber }}</div>
            <div class="title-name-sm">{{ currentI18nTitleKey + fameTitle.titleID | translate }}</div>

            <div class="status-overlay" *ngIf="(stats?.currentFame ?? 0) >= (fameTitle.threshold ?? 0) && (((stats?.currentFame ?? 0) * (100 - (currentPlayerTitle.decay ?? 0))) / 100) < (fameTitle.threshold ?? 0)">
              <app-icon name="TriangleAlert" width="14" height="14"></app-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
    </div>
  </ng-container>
</div>


<div class="modal fade" id="playerModal" tabindex="-1" aria-labelledby="playerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="playerModalLabel" translate>Historique des changements de pseudonymes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          [attr.aria-label]="'Fermer' | translate"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">
                  <img src="/assets/date.png" class="img-fluid" [alt]="'Date' | translate">
                  {{ 'Date' | translate }}
                </th>
                <th scope="col">
                  <img src="/assets/gge-logo.png" class="img-fluid" [alt]="'Pseudonyme' | translate">
                  {{ 'Pseudonyme' | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of playerUpdates">
                <td>{{ player.date ? ((player.date | date: 'dd/MM/yyyy HH') + 'h') : ('Pseudonyme initial' | translate)
                  }}</td>
                <td>{{ player.player }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="allianceModal" tabindex="-1" aria-labelledby="allianceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="allianceModalLabel" translate>Historique des changements d'alliances</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          [attr.aria-label]="'Fermer' | translate"></button>
      </div>
      <div class="modal-body">
        <ng-container *ngTemplateOutlet="allianceHistoryContent"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #allianceHistoryContent>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">
            <img src="/assets/date.png" class="img-fluid" alt="Date">
            {{ 'Date' | translate }}
          </th>
          <th scope="col">
            <img src="/assets/alliance.png" class="img-fluid" alt="Alliance">
            {{ 'Alliance' | translate }}
          </th>
          <th scope="col">
            <img src="/assets/time.png" class="img-fluid" alt="Durée">
            {{ 'Durée' | translate }}
          </th>
          <th scope="col">
            {{ 'Actions' | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alliance of allianceUpdates">
          <td>{{ alliance.date ? ((alliance.date | date: 'dd/MM/yyyy HH') + 'h') : ('Alliance initiale' |
            translate) }}</td>
          <td [ngClass]="{'text-muted': !alliance.alliance}">{{ alliance.alliance ?? ('Sans alliance' | translate)
            }}</td>
          <td>{{ alliance.duration }}</td>
          <td *ngIf="alliance.alliance; else noAlliance">
            <div class="btn-group">
              <a class="gge-btn search btn-sm" data-bs-dismiss="modal" [routerLink]="['/', 'players']"
                [queryParams]="{'alliance': alliance.alliance}" [title]="'Voir les membres de l\'alliance' | translate">
                <i class="fas fa-eye"></i>
                <span class="d-none d-lg-inline">&nbsp;{{ 'Voir les membres' | translate }}</span>
              </a>
              <a class="gge-btn search btn-sm" data-bs-dismiss="modal" [routerLink]="['/', 'map', alliance.id]"
                [title]="'Voir l\'alliance sur la carte' | translate">
                <img src="/assets/map.png" width="16" class="img-fluid" [alt]="'Voir sur la carte' | translate">
                <span class="d-none d-lg-inline">&nbsp;{{ 'Voir sur la carte' | translate }}</span>
              </a>
            </div>
          </td>
          <ng-template #noAlliance>
            <td>
              <span class="text-muted"><em>
                  {{ 'Aucune action' | translate }}
                </em></span>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<div class="modal fade" id="patriarchModal" tabindex="-1" aria-labelledby="patriarchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="patriarchModalLabel">{{ 'Vue d\'ensemble de l\'alliance' | translate }} ({{
          quantity.patriarch }})
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          [attr.aria-label]="'Fermer' | translate"></button>
      </div>
      <div class="modal-body">
        <ng-container *ngTemplateOutlet="patriarchOverviewContent"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #patriarchOverviewContent>
  <div class="d-flex row justify-content-between monuments-quantity text-center align-items-end assets-overview">
    <div class="col">
      <img src="/assets/castle1.png" [alt]="'Chateau principal' | translate" [title]="'Chateau principal' | translate">
      <br>
      <span>{{ quantity.castle }}</span>
    </div>
    <div class="col">
      <img src="/assets/castle4.png" [alt]="'Avant-poste' | translate" [title]="'Avant-poste' | translate">
      <br>
      <span>{{ quantity.outpost }}</span>
    </div>
    <div class="col">
      <img src="/assets/monument.png" [alt]="'Monument' | translate" [title]="'Monument' | translate">
      <br>
      <span>{{ quantity.monument }}</span>
    </div>
    <div class="col">
      <img src="/assets/labo.png" [alt]="'Laboratoire' | translate" [title]="'Laboratoire' | translate">
      <br>
      <span>{{ quantity.laboratory }}</span>
    </div>
    <div class="col">
      <img src="/assets/tour-royale.png" [alt]="'Tour royale' | translate" [title]="'Tour royale' | translate">
      <br>
      <span>{{ quantity.royalTower }}</span>
    </div>
    <div class="col">
      <img src="/assets/capitale.png" [alt]="'Capitale' | translate" [title]="'Capitale' | translate">
      <br>
      <span>{{ quantity.capital }}</span>
    </div>
    <div class="col">
      <img src="/assets/cite-marchande.png" [alt]="'Cité marchande' | translate" [title]="'Cité marchande' | translate">
      <br>
      <span>{{ quantity.city }}</span>
    </div>
  </div>
  <div class="table-wrapper rounded-3">
    <div class="d-flex align-items-center mb-3 px-2 pt-2">
      <i class="fa-solid fa-magnifying-glass me-2 text-muted"></i>
      <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()"
        placeholder="{{ 'Rechercher' | translate }}..." class="form-control search-input flex-grow-1" />
    </div>
    <div class="table-responsive">
      <table class="modern-table w-100">
        <thead>
          <tr>
            <th (click)="sortBy('type')">
              {{ 'Type de patrimoine' | translate }}
              <i *ngIf="sortColumn === 'type'" class="ms-1 fa-solid" [class.fa-arrow-up]="sortAsc"
                [class.fa-arrow-down]="!sortAsc"></i>
            </th>
            <th (click)="sortBy('kingdom')">
              {{ 'Royaume' | translate }}
              <i *ngIf="sortColumn === 'kingdom'" class="ms-1 fa-solid" [class.fa-arrow-up]="sortAsc"
                [class.fa-arrow-down]="!sortAsc"></i>
            </th>
            <th (click)="sortBy('position')">
              {{ 'Position' | translate }}
              <i *ngIf="sortColumn === 'position'" class="ms-1 fa-solid" [class.fa-arrow-up]="sortAsc"
                [class.fa-arrow-down]="!sortAsc"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let monument of paginatedMonuments">
            <td>{{ monument.type }}</td>
            <td class="kid-{{ monument.kingdom }}">{{ getRealmName(monument.kingdom) | translate}}</td>
            <td>{{ monument.position }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination-modern d-flex justify-content-center align-items-center mt-3 gap-2">
      <button class="btn btn-light btn-sm rounded-circle shadow-sm" (click)="changePage(-1)"
        [disabled]="currentPage <= 1">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <span class="page-indicator">{{ currentPage }} / {{ totalPages }}</span>
      <button class="btn btn-light btn-sm rounded-circle shadow-sm" (click)="changePage(1)"
        [disabled]="currentPage >= totalPages">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #spinnerRankignStats>
  <div class="text-center spinner-container">
    <i class="fas fa-spinner fa-spin"></i>
  </div>
</ng-template>
