button.btn.btn-primary.btn-sm.active {
	background-size: 28px;
	background: url(/assets/light-background-hover.png), #29746e;
}
i.fas.fa-spinner.fa-spin {
	color: #00000045;
	font-size: 6rem;
	margin: 20px 0;
}
.cadre-table-scroll {
	display: inline-block;
	height: 365px;
	overflow-y: scroll;
}
.cover-might {
	background-position-y: center !important;
	border: 1px white solid;
	color: white;
}
.opacity-0 {
	opacity: 0;
}
.btn-group {
	max-width: 100%;
	overflow-y: auto;
}
.spinner-container {
	left: 50%;
	position: absolute;
	top: 60%;
	transform: translate(-50%,-50%);
}
.stats-container {
	min-height: 40vh;
}
.table-scroll thead th {
	position: sticky;
	top: 0;
}
.btn-group {
	box-shadow: 0px 0px 2px 1px #eddd32;
	padding: 2px;
}
