<header class="topbar">
  <div class="flex items-center gap-4">
    <button (click)="toggleSidebar()" class="sidebar-btn lg:hidden">
      <app-icon name="Menu" [size]="20"></app-icon>
    </button>
    <div class="hidden md:flex flex-col">
      <span class="breadcrumb-label text-nowrap">{{ 'Serveur actuel' | translate }}</span>

      <div class="position-relative" id="server-menu">
        <button class="server-selector" [class.rotate]="isServerMenuOpen()" (click)="toggleServerMenu()"
          [title]="serverService.currentServer?.name">
          <span>{{serverService.currentServer?.name}}</span>
          <img [src]="serverService.currentServer?.flagUrl" width="20" class="me-2"
            alt="{{ serverService.currentServer?.name }}" title="{{ serverService.currentServer?.name }}">

          <app-icon name="ChevronDown" class="chevron" [size]="16"></app-icon>
        </button>

        <div *ngIf="isServerMenuOpen()" class="server-dropdown">
          <input type="text" #searchServerInput id="searchServerInput" name="searchServerInput" class="form-control"
            placeholder="{{ 'Rechercher' | translate }}" [(ngModel)]="filteredServerInput">
          <div class="separator"></div>
          <button *ngFor="let srv of serverService.xmlServers"
            (click)="selectServer(srv.name)"
            [hidden]="!srv.enabled ||
              (filteredServerInput
                && !srv.name.toLowerCase().includes(filteredServerInput.toLowerCase())
                && !srv.ggeServerName.toLowerCase().includes(filteredServerInput.toLowerCase())
              )">
            <div>
              <img [src]="srv.flagUrl" width="20" class="me-2" alt="{{ srv.name }}" title="{{ srv.name }}">
              <span class="server-badge">{{srv.name}}</span>
            </div>
            <div>
              <div class="font-bold text-sm">{{ srv.ggeServerName }}</div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex items-center gap-4">
    <div #topbarHost></div>
    <div class="divider"></div>
    <div class="topbar-actions flex items-center gap-4">

      <!-- Discord -->
      <div class="position-relative">
        <a href="https://discord.gg/eb6WSHQqYh" target="_blank" rel="noopener" class="action-icon">
          <i class="fa-brands fa-discord"></i>
          <span class="label d-none d-xxl-inline">Discord</span>
        </a>

        <span class="discord-badge" *ngIf="discordMemberCount > 0">
          {{ discordMemberCount }}
        </span>
      </div>

      <!-- About -->
      <button class="action-icon about-btn" [routerLink]="['/', 'about']" [title]="'A propos' | translate">
        <app-icon name="Info" [size]="19"></app-icon>
        <span class="label d-none d-xxl-inline">{{ 'A propos' | translate }}</span>
      </button>

      <!-- Dev API -->
      <a href="https://petstore.swagger.io/?url=https://api.gge-tracker.com/api/v1/docs"
        target="_blank" rel="noopener"  [title]="'API' | translate" class="action-icon">
        <app-icon name="CodeXml" [size]="19"></app-icon>
        <span class="label d-none d-xxl-inline">{{ 'API' | translate }}</span>
      </a>

      <!-- GitHub -->
      <a href="https://github.com/gge-tracker/gge-tracker" target="_blank" rel="noopener" class="action-icon">
        <i class="fa-brands fa-github"></i>
      </a>

      <!-- Lang selector -->
      <div class="position-relative" id="language-menu">
        <div class="lang-pill" (click)="toggleLanguageMenu()" [class.rotate]="isLanguageMenuOpen()">
          <img [src]="languageService.getFlagUrlForLang(languageService.currentLang)" width="20" class="me-2"
            alt="{{ languageService.currentLang }}" title="{{ languageService.currentLang }}">
          <app-icon name="ChevronDown" class="chevron" [size]="14"></app-icon>
        </div>

        <div *ngIf="isLanguageMenuOpen()" class="lang-dropdown">
          <button *ngFor="let lang of languageService.langs" (click)="selectLanguage(lang.code)">
            {{ lang.label }}
          </button>
        </div>
      </div>

    </div>

  </div>
</header>
