.modal-body .alliance-icon img {
  position: relative;
  z-index: 1;
}

.modal-body .alliance-icon::after {
  background: #a5bb4a;
  content: "";
  height: 3px;
  left: 45px;
  margin-top: 14px;
  position: absolute;
  right: 45px;
  z-index: 0;
}

.modal-body .ban-icon img {
  position: relative;
  z-index: 1;
}

.modal-body .ban-icon::after {
  background: #a8250e;
  content: "";
  height: 3px;
  left: 45px;
  margin-top: 14px;
  position: absolute;
  right: 45px;
  z-index: 0;
}

.modal-body .inactive-icon img {
  position: relative;
  z-index: 1;
}

.modal-body .inactive-icon::after {
  background: #d4a837;
  content: "";
  height: 3px;
  left: 45px;
  margin-top: 18px;
  position: absolute;
  right: 45px;
  z-index: 0;
}

.modal-body .peace-icon {
  height: auto;
  max-height: 1.75em;
}

.modal-body .peace-icon img {
  position: relative;
  z-index: 1;
}

.modal-body .peace-icon::after {
  background: #8e8e8eb9;
  content: "";
  height: 3px;
  left: 45px;
  margin-top: 14px;
  position: absolute;
  right: 45px;
  z-index: 0;
}
