::ng-deep .ng-select-container {
  border-color: #f2f2f2 !important;
}

:host ::ng-deep .dungeon-1 {
  color: #d57026;
  font-weight: bold;
}

:host ::ng-deep .dungeon-2 {
  color: #326283;
  font-weight: bold;
}

:host ::ng-deep .dungeon-3 {
  color: #cbb674;
  font-weight: bold;
}

:host ::ng-deep .ng-dropdown-panel {
  background: #ffffffce;
  border-radius: 12px;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.55rem 2.5rem 0.55rem 1rem;
}

:host ::ng-deep .ng-option {
  background: transparent !important;
  transition: 0.3s;
}

:host ::ng-deep .ng-option:hover {
  background: rgba(255,255,255,0.25) !important;
  transform: scale(1.02);
}

:host ::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow {
  border-color: #616161 transparent transparent;
}

:host ::ng-deep .ng-select .ng-clear-wrapper {
  color: #616161;
}

:host ::ng-deep .ng-select .ng-select-container {
  background-color: transparent;
  border: 0;
}

:host ::ng-deep .ng-select .ng-select-container:hover {
  box-shadow: none;
}

:host ::ng-deep .ng-select, .input-group-text {
  background: rgba(255,255,255,0.15);
  border-radius: 12px;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.55rem 2.5rem 0.55rem 1rem;
  transition: 0.3s;
}

:host ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: rgba(255,255,255,0.082);
  border-radius: 13px;
  color: #fff;
  padding: 3px 6px;
}

:host ::ng-deep .ng-select.ng-select-opened > .ng-select-container .ng-arrow {
  border-color: transparent transparent #616161 !important;
}

td, th {
  text-align: center;
}

.btn-help {
  background: rgba(219,219,219,0.2);
}

.btn-modern {
  background: rgba(255,255,255,0.15);
  color: white;
}

.btn-search {
  background: rgba(80,180,255,0.2);
}

.btn-x {
  background: rgba(255,80,103,0.2);
}

.btn.btn-warning {
  background-position: center;
  background-size: 24px;
  background: url(/assets/light-background-hover.png), #dda969;
  transition: all 0.3s ease;
}

.btn.btn-warning:hover {
  filter: brightness(1.05);
}

.col, .search .col-auto {
  place-self: center;
}

.modal-content {
  background: #f5f5f5cc;
}

.special-bg {
  background: #ff8500b5;
  border-radius: 7px;
  border: 2px black solid;
}
