input#searchServerInput {
  border-color: var(--bs-border-color);
  box-shadow: none;
}

.btn-server {
  background: #00000009;
  border: 1px #e0e0e0 solid;
  color: blrgb(39,39,39);
  margin-bottom: 20px;
}

.btn-server:active {
  background: #00000018;
  border: 1px #e0e0e0ef solid;
}

.btn-server:focus {
  background: #00000018;
  border: 1px #e0e0e0ef solid;
}

.dropdown-menu.show {
  max-height: 65vh;
  overflow-y: auto;
}

.sticky-search-box {
  background: white;
  border-bottom: 1px #d2d2d2 solid;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 10;
}
