<div class="container my-3 movements">
  <div class="row">
    <div class="col-12" [ngClass]="{'loading': isInLoading}">
      <app-search-form #searchForm [isInLoading]="isInLoading" [formFilters]="formFilters"
        [inputTip]="'Rechercher un joueur ou une alliance' | translate" [searchTypes]="{
          player: true,
          alliance: true
        }" (searchAlliance)="searchAlliance($event)" (searchPlayer)="searchPlayer($event)"></app-search-form>

      <div class="flex flex-col justify-between gap-6 mt-2">
        <app-table [sort]="''" [reverse]="false" [isInLoading]="isInLoading" [maxPage]="maxPage!" [page]="page"
          [search]="search" [headers]="[
          ['playerName', 'Pseudonyme' | translate, '', true],
          ['allianceName', 'Alliance' | translate, '/assets/min-alliance.png', true],
          ['level', 'Niveau' | translate, '/assets/lvl.png', true],
          ['pp', 'Points de puissance' | translate, '/assets/pp1.png', true],
          ['castleType', 'Type' | translate, '', true],
          ['castleType', 'Action' | translate, '', true],
          ['positionOld', 'Description' | translate, '', true],
          ['date', 'Date' | translate, '', true],
          ['actions', '', '', true]
        ]" (navigateToPage)="navigateTo($event)" (previousPage)="previousPage()" (nextPage)="nextPage()">
          <tr *ngIf="movements.length === 0 && !isInLoading">
            <td colspan="10" class="no-data">{{ 'Aucun mouvement trouvé' | translate }}</td>
          </tr>
          <tr *ngFor="let movement of movements">
            <td class="col-rank">
              <span class="mobile-only">#</span>
              {{ movement.rank }}
            </td>
            <td>{{ movement.player }}</td>
            <td>
              <span class="mobile-only">{{ 'Alliance' | translate }}:&nbsp;</span>
              {{ movement.alliance ?? '-' }}
            </td>
            <td class="col-level">
              <span class="mobile-only">{{ 'Niveau' | translate }}:&nbsp;</span>
              <div class="level-box" [ngClass]="{ 'level-legendary': movement.legendaryLevel }">
                <span class="level-main">{{movement.level}}</span>
                <ng-container *ngIf="movement.legendaryLevel">
                  <div class="level-separator"></div>
                  <span class="level-legendary">
                    {{ movement.legendaryLevel }}
                  </span>
                </ng-container>
              </div>
            </td>
            <td>
              <span class="mobile-only">{{ 'Puissance' | translate }}:&nbsp;</span>
              {{ (movement.might ? movement.might : 0) | formatNumber }}
            </td>
            <td><img [src]="'/assets/castle' + movement.type + '.png'"
                [title]="getCastleType(movement.type) | translate" [alt]="getCastleType(movement.type)"></td>
            <td class="mobile-only-reverse" [innerHTML]="getDescription(movement.type, movement.positionOld, movement.positionNew).image"></td>
            <td>{{ ((getDescription(movement.type, movement.positionOld, movement.positionNew).keyword) | translate) + '
              '
              + getDescription(movement.type, movement.positionOld, movement.positionNew).description }}</td>
            <td>{{ movement.date | date: ('Date_1' | translate)}}</td>
            <td class="text-end">
              <div class="d-flex justify-content-center">
                <a [routerLink]="['/', 'players']" [queryParams]="{ player: movement.player}">
                  <img src="/assets/icon_search.png" [alt]="'Voir le joueur' | translate"
                    [title]="'Voir le joueur' | translate" height="24" class="btn-icon">
                </a>
                <a [routerLink]="['/', 'castles']" [queryParams]="{ search: movement.player }">
                  <img src="/assets/icon_castles.png" [alt]="'Voir les châteaux' | translate"
                    [title]="'Voir les châteaux' | translate" height="24" class="ms-1 btn-icon">
                </a>
              </div>
            </td>
          </tr>
        </app-table>
      </div>
    </div>
  </div>

  <div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="filtersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filtersModalLabel">
            &nbsp;<i class="fa-solid fa-filter"></i>{{ 'Filtrer les résultats' | translate}}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            [attr.aria-label]="'Fermer' | translate"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <label for="castleType" class="form-label" translate>{{ 'Type de position' | translate }} :</label>
              <div class="input-group">
                <span class="input-group-text p-1">
                  <img [src]="'/assets/castle' + formFilters.castleType + '.png'"
                    [alt]="'Chateau principal' | translate" [title]="'Type de position' | translate" height="40">
                </span>
                <select class="form-select" [(ngModel)]="formFilters.castleType">
                  <option value="null" selected>{{ 'Tous'| translate }}</option>
                  <option value="1">{{ 'Chateau principal' | translate}}</option>
                  <option value="3">{{ 'Capitale' | translate}}</option>
                  <option value="4">{{ 'Avant-poste' | translate}}</option>
                  <option value="22">{{ 'Cité marchande' | translate}}</option>
                  <option value="23">{{ 'Tour royale' | translate}}</option>
                  <option value="26">{{ 'Monument' | translate}}</option>
                  <option value="28">{{ 'Laboratoire' | translate}}</option>
                </select>
              </div>
            </div>
            <div class="col">
              <label for="movementType" class="form-label">{{ 'Type de mouvement' | translate }} :</label>
              <div class="input-group">
                <span class="input-group-text p-1">
                  <img [src]="
                    formFilters.movementType === null ? '/assets/castlenull.png' :
                    formFilters.movementType === '1' ? '/assets/new-castle.png' :
                    formFilters.movementType === '2' ? '/assets/ruins.png' :
                    '/assets/moving.png'" [alt]="'Type de mouvement' | translate"
                    [title]="'Type de mouvement' | translate" height="40">
                </span>
                <select class="form-select" [(ngModel)]="formFilters.movementType">
                  <option value="null" selected>Tous</option>
                  <option value="1">{{ 'Apparition' | translate }}</option>
                  <option value="2">{{ 'Disparition' | translate }}</option>
                  <option value="3">{{ 'Déménagement' | translate }}</option>
                </select>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col text-center">
                <button class="gge-btn search" (click)="applyFilters()" data-bs-dismiss="modal">
                  <span>{{ 'Appliquer les filtres' | translate }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
