input:checked + .slider {
  background: linear-gradient(135deg,#0d6efd,#00cfff);
}

input:checked + .slider {
  box-shadow: 0 0 10px rgba(0,207,255,0.5);
}

input:checked + .slider:before {
  background-color: #fff;
  transform: translateX(20px);
}

.slider {
  backdrop-filter: blur(4px);
  background: rgba(100,100,100,0.4);
  border-radius: 34px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
  cursor: pointer;
  inset: 0;
  position: absolute;
  transition: 0.3s;
}

.slider:before {
  background-color: #ddd;
  border-radius: 50%;
  bottom: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  content: "";
  height: 18px;
  left: 3px;
  position: absolute;
  transition: 0.3s;
  width: 18px;
}

.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 44px;
}

.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}
