<div class="container stormy-isles my-3" [ngClass]="{ loading: isInLoading }">
  <div class="row">
    <div class="col-12">

      <app-search-form
        [formFilters]="null"
        [isInLoading]="isInLoading"
        [inputTip]="'Rechercher un joueur ou une alliance' | translate"
        [defaultSearch]="search"
        [searchTypes]="{ player: true, alliance: true }"
        (searchPlayer)="searchPlayer($event)"
        (searchAlliance)="searchAlliance($event)">
      </app-search-form>

      <div class="flex flex-col justify-between gap-6 mt-2">
        <app-table
          [sort]="sort"
          [reverse]="reverse"
          [isInLoading]="isInLoading"
          [maxPage]="maxPage"
          [page]="page"
          [search]="search"
          [headers]="tableHeaders"
          (sortOutput)="sortTable($event)"
          (navigateToPage)="navigateTo($event)"
          (previousPage)="previousPage()"
          (nextPage)="nextPage()">
          <app-stormy-isles-table-content
            [players]="players"
            (clickOnAlliance)="onClickAlliance($event)">
          </app-stormy-isles-table-content>
        </app-table>
      </div>

    </div>
  </div>
</div>
