:host {
  display: contents;
}

.col-distance,
.col-honor {
  color: #ddd;
  font-weight: bold;
  text-align: center;
}

.col-level {
  text-align: center;
}

img.alliance-rank-icon {
  max-height: 19px;
  vertical-align: middle;
  max-width: 37px;
}
