
<div class="container alliances my-3">
  <div class="row">
    <div class="col-12" [ngClass]="{'loading': isInLoading}">
      <app-search-form
        [isInLoading]="isInLoading"
        [formFilters]="null"
        [inputTip]="'Rechercher une alliance' | translate"
        [searchTypes]="{
          player: false,
          alliance: true
        }"
        [exportDataEnabled]="true"
        (exportData)="exportData()"
        (searchAlliance)="searchAlliance($event)"
      ></app-search-form>

      <div class="flex flex-col justify-between gap-6 mt-2">
        <app-table
          [sort]="sort"
          [reverse]="reverse"
          [isInLoading]="isInLoading"
          [maxPage]="maxPage!"
          [page]="page"
          [search]="search"
          [headers]="[
            ['name', 'Nom'],
            ['player_count', 'Nombre de joueurs', '/assets/member-list.png'],
            ['might_current', 'Puissance de l\'alliance', '/assets/pp1.png'],
            ['loot_current', 'Points de pillage hebdomadaire', '/assets/loot.png'],
            ['current_fame', 'Points de gloire', '/assets/glory.png'],
            ['', '', undefined, true]
          ]"
          (sortOutput)="sortAlliances($event)"
          (navigateToPage)="navigateTo($event)"
          (previousPage)="previousPage()"
          (nextPage)="nextPage()">
          <tr *ngIf="alliances.length === 0  && !isInLoading">
            <td colspan="10" class="no-data">{{ 'Aucune alliance trouvée' | translate }}</td>
          </tr>
          <tr *ngFor="let alliance of alliances">

            <!-- Rank -->
            <td class="col-rank">
              <span class="mobile-only">#</span>
              {{ alliance.rank }}
            </td>

            <!-- Name -->
            <td class="col-name">
              <span class="name">{{ alliance.name }}</span>
            </td>

            <!-- Player Count -->
            <td class="col-metric px-2" [title]="alliance.playerCount | formatNumber:'visual'">
              <div class="metric">
                <div class="metric-header">
                  <span class="metric-current"><span class="mobile-only">{{ 'Nombre de joueurs' | translate }}:&nbsp;</span>{{ alliance.playerCount | formatNumber }}</span>
                  <span class="metric-max">65</span>
                </div>
                <div class="metric-bar-bg">
                  <div class="metric-bar bar-purple" [style.width.%]="(alliance.playerCount / 65) * 100"></div>
                </div>
              </div>
            </td>

            <!-- Might -->
            <td class="col-metric px-2" [title]="alliance.mightAllTime | formatNumber:'visual'">
              <div class="metric">
                <div class="metric-header">
                  <span class="metric-current"><span class="mobile-only">{{ 'Puissance' | translate }}:&nbsp;</span>{{ alliance.mightCurrent | formatNumber }}</span>
                  <span class="metric-max">{{ alliance.mightAllTime | formatNumber }}</span>
                </div>
                <div class="metric-bar-bg">
                  <div class="metric-bar bar-yellow"
                    [style.width.%]="(alliance.mightCurrent / alliance.mightAllTime) * 100"></div>
                </div>
              </div>
            </td>

            <!-- Loot -->
            <td class="col-metric px-2" [title]="alliance.lootAllTime | formatNumber:'visual'">
              <div class="metric">
                <div class="metric-header">
                  <span class="metric-current"><span class="mobile-only">{{ 'Pillage hebdomadaire' | translate }}:&nbsp;</span>{{ alliance.lootCurrent | formatNumber }}</span>
                  <span class="metric-max">{{ alliance.lootAllTime | formatNumber }}</span>
                </div>
                <div class="metric-bar-bg">
                  <div class="metric-bar bar-gray" [style.width.%]="(alliance.lootCurrent / alliance.lootAllTime) * 100">
                  </div>
                </div>
              </div>
            </td>

            <!-- Fame -->
            <td class="col-metric px-2" [title]="alliance.highestFame | formatNumber:'visual'">
              <div class="metric">
                <div class="metric-header">
                  <span class="metric-current"><span class="mobile-only">{{ 'Points de gloire' | translate }}:&nbsp;</span>{{ alliance.currentFame | formatNumber }}</span>
                  <span class="metric-max">{{ alliance.highestFame | formatNumber }}</span>
                </div>
                <div class="metric-bar-bg">
                  <div class="metric-bar bar-blue"
                    [style.width.%]="(alliance.currentFame / alliance.highestFame) * 100"></div>
                </div>
              </div>
            </td>

            <!-- Actions -->
            <td class="text-end">
              <div class="d-flex justify-content-center">
                <a [routerLink]="['/', 'map', alliance.id]">
                  <img src="/assets/icon_world.png" [alt]="'Carte d\'alliance' | translate"
                    [title]="'Carte d\'alliance' | translate" height="24" class="btn-icon">
                </a>
                <a [routerLink]="['/', 'alliance', alliance.id]">
                  <img src="/assets/icon_analyze.png" [alt]="'Analyser l\'alliance' | translate"
                    [title]="'Analyser l\'alliance' | translate" height="24"
                    class="ms-1 btn-icon">
                </a>
              </div>
            </td>
          </tr>
        </app-table>
      </div>
    </div>
  </div>


  <div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="filtersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filtersModalLabel">
            <i class="fa-solid fa-filter"></i>&nbsp;{{ 'Filtrer les résultats' | translate }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            [attr.aria-label]="'Fermer' | translate"></button>
        </div>
        <div class="modal-body">
          <div class="filters-container">
            <div class="row">
              <!-- Might -->
              <div class="col-12 col-sm my-1">
                <div class="input-group">
                  <span class="input-group-text">
                    <img src="/assets/pp1.png" [alt]="'Puissance' | translate"
                      [title]="'Filtrer par point de puissance' | translate" height="24">
                  </span>
                  <input type="text" class="form-control ggetracker-input" id="mightMin"
                    [value]="displayFormValues.might.min" (focus)="onGenericFocus('min', 'might')"
                    (blur)="onGenericBlur('min', 'might')" (input)="onGenericInput('min', 'might', $event)"
                    [title]="formFilters.minMight" [placeholder]="'Puissance min.' | translate">
                  <div class="input-arrow">
                    <lucide-icon [img]="ArrowBigRightDash" [size]="20" class="m-auto"></lucide-icon>
                  </div>
                  <input type="text" class="form-control ggetracker-input" id="mightMax"
                    [value]="displayFormValues.might.max" (focus)="onGenericFocus('max', 'might')"
                    (blur)="onGenericBlur('max', 'might')" (input)="onGenericInput('max', 'might', $event)"
                    [title]="formFilters.maxMight" [placeholder]="'Puissance max.' | translate">
                </div>
              </div>
            </div>
            <div class="row mt-1">
              <!-- Loot -->
              <div class="col-12 col-sm my-1">
                <div class="input-group">
                  <span class="input-group-text">
                    <img src="/assets/loot.png" [alt]="'Pillage' | translate"
                      [title]="'Filtrer par point de pillage' | translate" height="24">
                  </span>
                  <input type="text" class="form-control ggetracker-input" id="lootMin"
                    [value]="displayFormValues.loot.min" (focus)="onGenericFocus('min', 'loot')"
                    (blur)="onGenericBlur('min', 'loot')" (input)="onGenericInput('min', 'loot', $event)"
                    [title]="formFilters.minLoot" [placeholder]="'Pillage min.' | translate">
                  <div class="input-arrow">
                    <lucide-icon [img]="ArrowBigRightDash" [size]="20" class="m-auto"></lucide-icon>
                  </div>
                  <input type="text" class="form-control ggetracker-input" id="lootMax"
                    [value]="displayFormValues.loot.max" (focus)="onGenericFocus('max', 'loot')"
                    (blur)="onGenericBlur('max', 'loot')" (input)="onGenericInput('max', 'loot', $event)"
                    [title]="formFilters.maxLoot" [placeholder]="'Pillage max.' | translate">
                </div>
              </div>
            </div>
            <div class="row mt-1">
              <!-- Fame (glory) -->
              <div class="col-12 col-sm my-1">
                <div class="input-group">
                  <span class="input-group-text">
                    <img src="/assets/glory.png" [alt]="'Gloire' | translate" [title]="'Filtrer par gloire' | translate"
                      height="24">
                  </span>
                  <input type="text" class="form-control ggetracker-input" id="fameMin"
                    [value]="displayFormValues.fame.min" (focus)="onGenericFocus('min', 'fame')"
                    (blur)="onGenericBlur('min', 'fame')" (input)="onGenericInput('min', 'fame', $event)"
                    [title]="formFilters.minFame" [placeholder]="'Gloire min.' | translate">
                  <div class="input-arrow">
                    <lucide-icon [img]="ArrowBigRightDash" [size]="20" class="m-auto"></lucide-icon>
                  </div>
                  <input type="text" class="form-control ggetracker-input" id="fameMax"
                    [value]="displayFormValues.fame.max" (focus)="onGenericFocus('max', 'fame')"
                    (blur)="onGenericBlur('max', 'fame')" (input)="onGenericInput('max', 'fame', $event)"
                    [title]="formFilters.maxFame" [placeholder]="'Gloire max.' | translate">
                </div>
              </div>
            </div>
            <div class="row mt-1">
              <div class="row">
                <div class="col-12">
                  <div class="mt-3">
                    <h5 class="d-flex">
                      <app-icon [name]="'ArrowDown01'" [size]="24" class="me-2"></app-icon>
                      {{ 'Trier les résultats' | translate }}
                    </h5>
                  </div>
                  <div class="input-group align-items-center justify-content-center gge-tracker-select-container">
                    <select class="form-select w-auto mt-2" [(ngModel)]="sort">
                      <option *ngFor="let option of sortByOptions" [value]="option.value">{{ option.label | translate}}
                      </option>
                    </select>
                    <button class="gge-btn reset sort mt-2" (click)="sort = sort; reverse = !reverse">
                      <i class="fa-solid" [ngClass]="{'fa-arrow-down-long': !reverse, 'fa-arrow-up-long': reverse}"></i>
                      &nbsp;
                      <span *ngIf="!reverse">{{ 'Descendant' | translate }}</span>
                      <span *ngIf="reverse">{{ 'Ascendant' | translate }}</span>
                    </button>
                  </div>
                </div>
              </div>
              <hr class="my-4">
              <div class="row">
                <div class="col text-center">
                  <button class="gge-btn search" (click)="applyFilters()" data-bs-dismiss="modal">
                    <i class="fa-solid fa-check"></i>
                    &nbsp;
                    <span>{{ 'Appliquer les filtres' | translate }}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
