
<div class="container alliances my-3">
  <div class="row">
    <div class="col-12" [ngClass]="{'loading': isInLoading}">
      <app-search-form
        [isInLoading]="isInLoading"
        [formFilters]="null"
        [inputTip]="'Rechercher une alliance' | translate"
        [searchTypes]="{
          player: false,
          alliance: true
        }"
        [exportDataEnabled]="true"
        (exportData)="exportData()"
        (searchAlliance)="searchAlliance($event)"
      ></app-search-form>

      <div class="flex flex-col justify-between gap-6 mt-2">
        <app-table
          [sort]="sort"
          [reverse]="reverse"
          [isInLoading]="isInLoading"
          [maxPage]="maxPage!"
          [page]="page"
          [search]="search"
          [headers]="[
            ['name', 'Nom'],
            ['player_count', 'Nombre de joueurs', '/assets/member-list.png'],
            ['might_current', 'Puissance de l\'alliance', '/assets/pp1.png'],
            ['loot_current', 'Points de pillage hebdomadaire', '/assets/loot.png'],
            ['current_fame', 'Points de gloire', '/assets/glory.png'],
            ['', '', undefined, true]
          ]"
          (sortOutput)="sortAlliances($event)"
          (navigateToPage)="navigateTo($event)"
          (previousPage)="previousPage()"
          (nextPage)="nextPage()">
          <tr *ngIf="alliances.length === 0  && !isInLoading">
            <td colspan="10" class="no-data">{{ 'Aucune alliance trouvée' | translate }}</td>
          </tr>
          <tr *ngFor="let alliance of alliances">

            <!-- Rank -->
            <td class="col-rank">
              <span class="mobile-only">#</span>
              {{ alliance.rank }}
            </td>

            <!-- Name -->
            <td class="col-name">
              <span class="name">{{ alliance.name }}</span>
            </td>

            <!-- Player Count -->
            <td class="col-metric px-2" [title]="alliance.playerCount | formatNumber:'visual'">
              <div class="metric">
                <div class="metric-header">
                  <span class="metric-current"><span class="mobile-only">{{ 'Nombre de joueurs' | translate }}:&nbsp;</span>{{ alliance.playerCount | formatNumber }}</span>
                  <span class="metric-max">65</span>
                </div>
                <div class="metric-bar-bg">
                  <div class="metric-bar bar-purple" [style.width.%]="(alliance.playerCount / 65) * 100"></div>
                </div>
              </div>
            </td>

            <!-- Might -->
            <td class="col-metric px-2" [title]="alliance.mightAllTime | formatNumber:'visual'">
              <div class="metric">
                <div class="metric-header">
                  <span class="metric-current"><span class="mobile-only">{{ 'Puissance' | translate }}:&nbsp;</span>{{ alliance.mightCurrent | formatNumber }}</span>
                  <span class="metric-max">{{ alliance.mightAllTime | formatNumber }}</span>
                </div>
                <div class="metric-bar-bg">
                  <div class="metric-bar bar-yellow"
                    [style.width.%]="(alliance.mightCurrent / alliance.mightAllTime) * 100"></div>
                </div>
              </div>
            </td>

            <!-- Loot -->
            <td class="col-metric px-2" [title]="alliance.lootAllTime | formatNumber:'visual'">
              <div class="metric">
                <div class="metric-header">
                  <span class="metric-current"><span class="mobile-only">{{ 'Pillage hebdomadaire' | translate }}:&nbsp;</span>{{ alliance.lootCurrent | formatNumber }}</span>
                  <span class="metric-max">{{ alliance.lootAllTime | formatNumber }}</span>
                </div>
                <div class="metric-bar-bg">
                  <div class="metric-bar bar-gray" [style.width.%]="(alliance.lootCurrent / alliance.lootAllTime) * 100">
                  </div>
                </div>
              </div>
            </td>

            <!-- Fame -->
            <td class="col-metric px-2" [title]="alliance.highestFame | formatNumber:'visual'">
              <div class="metric">
                <div class="metric-header">
                  <span class="metric-current"><span class="mobile-only">{{ 'Points de gloire' | translate }}:&nbsp;</span>{{ alliance.currentFame | formatNumber }}</span>
                  <span class="metric-max">{{ alliance.highestFame | formatNumber }}</span>
                </div>
                <div class="metric-bar-bg">
                  <div class="metric-bar bar-blue"
                    [style.width.%]="(alliance.currentFame / alliance.highestFame) * 100"></div>
                </div>
              </div>
            </td>

            <!-- Actions -->
            <td class="text-end">
              <div class="d-flex justify-content-center">
                <a [routerLink]="['/', 'map', alliance.id]">
                  <img src="/assets/icon_world.png" [alt]="'Carte d\'alliance' | translate"
                    [title]="'Carte d\'alliance' | translate" height="24" class="btn-icon">
                </a>
                <a [routerLink]="['/', 'alliance', alliance.id]">
                  <img src="/assets/icon_analyze.png" [alt]="'Analyser l\'alliance' | translate"
                    [title]="'Analyser l\'alliance' | translate" height="24"
                    class="ms-1 btn-icon">
                </a>
              </div>
            </td>
          </tr>
        </app-table>
      </div>
    </div>
  </div>
